.DS_Store
*.tgz
*.so
askar_tmp_db
node_modules

build

packages/askar-nodejs/native
packages/askar-react-native/native
packages/askar-react-native/android/build
packages/askar-react-native/android/.cxx

examples/askar-react-native-example/android
examples/askar-react-native-example/ios
examples/askar-react-native-example/.expo
