.DS_Store
*.tgz
*.so
askar_tmp_db
node_modules

build

packages/askar-nodejs/native
packages/askar-nodejs/native/version.json
packages/askar-react-native/native
packages/askar-react-native/native/version.json
packages/askar-react-native/android/build
packages/askar-react-native/android/.cxx
.gradle

examples/askar-react-native-example/android
examples/askar-react-native-example/ios
examples/askar-react-native-example/.expo

indy_wallet_sqlite_upgraded.db